:root {
  --dirty-white: #f2f2f2;
}

@tailwind base;

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* 1rem = 10p */
}

body {
  outline: none;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.layout-container {
  position: relative;
  height: auto !important;
  min-height: 100%;
}

.layout-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  line-height: 5.2rem;
  /* identical to box height */
  letter-spacing: -0.02rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: -0.02rem;
}

@tailwind components;

@tailwind utilities;

.font-subtitle {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.font-subtitle-semibold {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.font-body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
}

.font-body-big {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.font-body-bold {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.font-small {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-pretitle {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.font-button {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

.font-link {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4rem;
}

.font-link-spaced {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* hero screen start */

.font-size-sm {
  font-size: calc(1rem + 1vw);
}

.hero-style {
  position: fixed;
  top: 0;
  height: 100vh;
  color: #d7385e;
  perspective: 500px;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 102;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-frame,
.hero-text {
  position: absolute;
}

.h-300px {
  height: 300px;
}

.w-300px {
  width: 300px;
}

.hero-frame {
  border-radius: 20px;
  z-index: 100;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
    0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de,
    inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff,
    inset 0 0 20px #ff00de, inset 0 0 35px #ff00de, inset 0 0 40px #ff00de,
    inset 0 0 50px #ff00de, inset 0 0 75px #ff00de;
}

.hero-frame::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 300px 150px rgba(255, 255, 255, 0.25);
}

.h-210px {
  height: 210px;
}

.w-210px {
  width: 210px;
}

.hero-circle {
  background: brown;
  border: 2px solid #f7f499;
  z-index: 2;
  border-radius: 400px;
  position: relative;
  overflow: hidden;
}

.hero-circle {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fc4a48,
    0 0 35px #fc4a48, 0 0 40px #fc4a48, 0 0 50px #fc4a48, inset 0 0 5px #fff,
    inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #fc4a48,
    inset 0 0 35px #fc4a48, inset 0 0 40px #fc4a48, inset 0 0 50px #fc4a48;
}

.hero-text {
  font-family: 'Pacifico', cursive;
  width: 150px;
  height: 150px;
  color: #e3ffff;
  mix-blend-mode: screen;
  text-shadow: 0 0 2px #2df5ff, 0 0 10px #2df5ff, 0 0 22px #2df5ff,
    0 0 36px #2df5ff;
  z-index: 10;
}

.hero-letter {
  position: absolute;
  transform-origin: center center -80px;
  transform: rotate(30deg);
  line-height: 10rem;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.font-logo {
  font-family: 'Pacifico', cursive;
}

.final-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  top: 0;
  opacity: 0;
  transform: scale(0.005);
  z-index: 101;
}

.final-text-name {
  white-space: nowrap;
  color: #e3ffff;
  mix-blend-mode: screen;
  text-shadow: 0 0 2px #2df5ff, 0 0 10px #2df5ff, 0 0 22px #2df5ff,
    0 0 36px #2df5ff;
}

.font-20rem {
  font-size: 20rem;
}

.z-negative {
  z-index: -1;
}

.font-2rem {
  font-size: 2rem;
}

.font-10rem {
  font-size: 10rem;
}

.min-w-20px {
  min-width: 20px;
}

.min-h-20px {
  min-height: 20px;
}
/* hero screen end */

/* neon ani start */

.neon-wrapper .neon svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.st0 {
  fill: #2df5ff;
  filter: url(#circlefilter);
}
.st1 {
  fill: none;
  stroke: #ff00db;
  stroke-width: 14;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 25, 175;
  will-change: transform;
}

/* neon ani ends */

.card-inset {
  border-radius: 10px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
    0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 65px #ff00de,
    inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff,
    inset 0 0 20px #ff00de, inset 0 0 35px #ff00de, inset 0 0 40px #ff00de,
    inset 0 0 50px #ff00de, inset 0 0 65px #ff00de;
}

.button-inset {
  border-radius: 10px;
  box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #ff00de,
    0 0 20px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de,
    inset 0 0 3px #fff, inset 0 0 5px #fff, inset 0 0 8px #fff,
    inset 0 0 10px #ff00de, inset 0 0 25px #ff00de, inset 0 0 20px #ff00de,
    inset 0 0 25px #ff00de, inset 0 0 35px #ff00de;
}

.min-h-4rem {
  min-height: 4rem;
}

.top-3remneg {
  top: -3rem;
}

.square-ratio {
  padding-bottom: 100%;
}

.h-75rem {
  height: 75rem;
}

.max-h-75rem {
  max-height: 75rem;
}

.min-h-97rem {
  min-height: 97rem;
}

.w-30vw {
  width: 30vw;
}

.w-40vw {
  width: 40vw;
}

.w-50vw {
  width: 50vw;
}

.w-60vw {
  width: 60vw;
}

.w-70vw {
  width: 70vw;
}

.w-80vw {
  width: 80vw;
}

.will-change {
  will-change: transform;
}

.bg-cell {
  box-shadow: inset 0 0 0.5rem 0.5rem #4f4c55;
  background-image: radial-gradient(circle closest-side, #764f91, #131313);
}

@responsive {
  .background-smooth {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .h-500px {
    height: 500px;
  }

  .w-500px {
    width: 500px;
  }

  .h-350px {
    width: 350px;
  }

  .w-350px {
    height: 350px;
  }

  .font-size-lg {
    font-size: calc(2rem + 2vw);
  }
}

@variants hover, focus {
  .background-smooth {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@screen smMax {
  html {
    font-size: 45%;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
